.img-detail{
    width: 25rem;
    padding: 15px;
    color: transparent;
}

figure {
    justify-self: end;
    align-self: stretch;
}

.text-detail{
    width: 20rem;
    justify-self: start;
}

.text-detail .counter div.ui{
    justify-content: start;
}







