.container-detail{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    margin: 50px 0;
    min-height: 70.2vh;
    gap: 150px
}

@media only screen and (max-width: 992px) {
    .container-detail{
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
    }

    .text-detail{
        margin: 0 auto;
        justify-self: center;
        align-self: center;
        text-align: justify;
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }

    figure{
        margin: 0 auto;
    }

    .text-detail .counter div.ui{
        justify-content: center !important;
    }
    
}