a:has(.cartLogo){
    color: white;
    text-decoration-line: none;
}

.cart{
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    transform: translateY(5px);
}

.counterCart{
    color: white;
}

.inactive{
    display: none;
}

@media screen and (max-width: 990px) {
    .cart{
        margin-bottom: 15px;
    }
}