.cart{
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    transform: translateY(5px);
}

.cartLogo{
    filter: invert(100%);   
}

.counterCart{
    color: white;
    align-self: center;
}

@media screen and (max-width: 990px) {
    .cart{
        margin-bottom: 15px;
    }
}