*{ 
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: inherit;
}

.dropdown-menu.show{
    border-radius: 0;
}

.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

header{
    background: linear-gradient(90deg, rgb(137, 5, 40) 0%, rgba(115,2,32,1) 100%);  
}

.dropdown-menu{
    background-color: rgb(152, 6, 45);
}

.navbar-nav{
    font-family: sans-serif;
}

.dropdown-menu a{
    color: white;
    text-shadow: 1px 1px 1px black;
}

.nav-link {
    color: white;
    font-size: 1rem;
}

.nav-link:hover{
    transform: scale(1.01);
    animation: scale 1s infinite;
}

.logo{
    width: 10rem;
}

@keyframes scale {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.01);
    }
}

@media only screen and (min-width: 992px) {
    .container{
        height: 100px;
    }
}