footer{
    background: linear-gradient(90deg, rgb(135, 5, 40) 0%, rgba(115,2,32,1) 100%);
}

.logo-footer{
    width: 5rem;
}

.logo-footer:hover {
    animation: rotate 1s infinite;
}

.redes{
    display: flex;
    gap: 15px;
    filter: brightness(100);
}

.redes a >  :hover{ 
    animation: rotate 1s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        transform: translateY(0);
    }
    50% {
        transform: rotate(30deg);
        transform: translateY(-5px);
    }
    100% {
        transform: rotate(0deg);
        transform: translateY(0);
    }
}